/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}

body{
  background-color:red;
}

.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #E2F0F9;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.open{
  width: 250px;
}
.sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon{
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name{
  color: #000000d5;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name{
  opacity: 1;
}
.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn{
  text-align: right;
}
.sidebar i{
  color: rgb(0, 0, 0);
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list{
  margin-top: 20px;
  height: 100%;
}
.sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: rgb(255, 255, 255);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip{
  display: none;
}
.sidebar input{
  font-size: 15px;
  color: rgb(0, 0, 0);
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #cddde7;
}
.sidebar.open input{
  padding: 0 20px 0 50px;
  width: 100%;
}
.sidebar .bx-search{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #cddde7;
  color: rgb(0, 0, 0);
}
.sidebar.open .bx-search:hover{
  background: #cddde7;
  color: #000000;
}
.sidebar .bx-search:hover{
  color: #000000;
}
.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #ffffff;
  color: #000000;
}
.sidebar li a:hover{
  background: #FFF;
}
.sidebar li a .links_name{
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color: #cddde7;
}
.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar li.profile{
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #cddde7;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.profile{
  width: 250px;
}
.sidebar li .profile-details{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar li.profile .name,
.sidebar li.profile .job{
  font-size: 15px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  white-space: nowrap;
}
.sidebar li.profile .job{
  font-size: 12px;
}
.sidebar .profile #log_out{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #cddde7;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebar.open .profile #log_out{
  width: 50px;
  background: none;
}
.home-section{
  position: absolute;
  background: #F7F9FF;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}
.sidebar.open ~ .home-section{
  left: 250px;
  width: calc(100% - 250px);
}
.home-section .text{
  display: none;
  color: #2D9BF0;
  font-size: 25px;
  font-weight: 500;
  margin: 18px
}
@media (max-width: 420px) {
  .sidebar li .tooltip{
    display: inline-block;
  }
}

/*COMENTARIOS ACERCA DEL SIGUIENTE select*/


@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
  }
  body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg, #ffffff, #ffffff);
  }
  .container{
   
    width: 99%;
    background-color: #F7F9FF;
    padding: 25px 30px;
    border-radius: 5px;
   
  }
  .container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
  }
  .container .title::before{
    content: "";
    position: center;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: linear-gradient(135deg, #ffffff, #ffffff);

  }
  .content form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
  }
  


  div.textoarriba {
    align-items: center;
    display: flex;
    height: 100px;
    justify-content: center;
    width: auto;
  
    background: #ffffff;
    color: #333;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;

    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}





div.textoabajo {
    align-items: center;
    display: flex;
    height: 50px;
    justify-content: center;
    width: auto;
  
    background: #E2F0F9;
    color: #333;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}



/*layout de 3 columnas*/
/* Create three equal columns that floats next to each other */
.columna2 {
  float: left;
  width: 40%;
  padding: 10px;
  height: 400px; /* Should be removed. Only for demonstration */
}
.column {
  float: left;
  width: 60%;
  padding-right: 60px;
  height: 400px; /* Should be removed. Only for demonstration */
}

.columntercera{
    float: left;
    width: 33.3%;
    padding: 10px;
    height: 400px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: ;
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 900px) {
  .column {
    width: 100%;
    padding: 0px;
    height: 730px;
  }

  .columna2 {
    width: 100%;
    padding: 0px;
  }

  div.ojo{

    color: #cddde700;

  }
}




div.cuadradodatos{

margin: 0 auto;

  height: 170px;
  justify-content: center;
  width: 98%;
  text-align: center;
  background: #ffffff;
  color: #333;
  border-radius: 20px;
  padding-bottom: 20px;
  padding: 9px;

  box-shadow: #2B70BC 0px 0px 0px 5px, rgba(30, 193, 27, 0) 0px 0px 0px 6px, rgba(255, 216, 19, 0) 0px 0px 0px 9px, rgba(255, 156, 85, 0) 0px 0px 0px 12px, rgba(255, 85, 85, 0) 0px 0px 0px 15px;
}

div.cuadradodatosgluco{

  margin: 0 auto;
  
    height: 170px;
    justify-content: center;
    width: 98%;
    text-align: center;
    background: #ffffff;
    color: #333;
    border-radius: 20px;
    padding-bottom: 20px;
    padding: 9px;
  
    box-shadow: #F24726 0px 0px 0px 5px, rgba(30, 193, 27, 0) 0px 0px 0px 6px, rgba(255, 216, 19, 0) 0px 0px 0px 9px, rgba(255, 156, 85, 0) 0px 0px 0px 12px, rgba(255, 85, 85, 0) 0px 0px 0px 15px;
  }

div.cuadradodatosdos{

  margin: 0 auto;
  
    height: 170px;
    justify-content: center;
    width: 98%;
    text-align: center;
    background: #182859;
    color: whitesmoke;
    border-radius: 20px;
    padding-bottom: 20px;
    padding: 9px;
  
    box-shadow: #182859 0px 0px 0px 5px, rgba(30, 193, 27, 0) 0px 0px 0px 6px, rgba(255, 216, 19, 0) 0px 0px 0px 9px, rgba(255, 156, 85, 0) 0px 0px 0px 12px, rgba(255, 85, 85, 0) 0px 0px 0px 15px;
  }

  div.cuadradodatosblancostratamientos{

    margin: 0 auto;
    
      height: 120px;
    
      width: 98%;
    
      background: #ffffff;
      color: #182859;
      border-radius: 20px;
      padding-bottom: 20px;
      padding:16px;
      font-size: 16px;
      font-weight: 500;
    
      box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    }


  /*centrado de los textos en el div de números*/

  div.nivel{
    font-weight: 400;
    font-size: 80px;
    color: #2B70BC;
    position:relative;
    display: block;
  }


  div.niveldetrata{
    font-weight: 515;
    font-size: 60px;
    color: #AD52C1;
    position:relative;
    display: flex;
  }

  div.niveldetrataam{
    font-weight: 515;
    font-size: 60px;
    color: #FEF445;
    position:relative;
    display: flex;
  }

  div.niveldetrataroj{
    font-weight: 515;
    font-size: 60px;
    color: #D02300;
    position:relative;
    display: flex;
  }

  div.niveldetratados{
    font-weight: 515;
    font-size: 60px;
    color: #0CA789;
    position:relative;
    display: flex;
  }

  div.niveldetratadosaz{
    font-weight: 515;
    font-size: 60px;
    color: #0c4aa7;
    position:relative;
    display: flex;
  }

  div.niveldetratatres{
    font-weight: 515;
    font-size: 60px;
    color: #DA0063;
    position:relative;
    display: flex;
  }

  div.niveldetratatresver{
    font-weight: 515;
    font-size: 60px;
    color: #00da62;
    position:relative;
    display: flex;
  }

  div.ojo{

    transform: translateX(42px);
    font-size: 40px;
    color: #eef0f8;
   
  }

  @media screen and (max-width: 1300px) {

  
    div.ojo{
  
      color: #cddde700;
  
    }
  }

  div.nivelgluco{
    font-weight: 400;
    font-size: 80px;
    color: #F24726;
    position:relative;
    display: block;
  }

  div.categoria{

    color: #182859;
    font-size: 20px;
    position:relative;
    display: block;
    font-weight:500;
  }

  div.niveldos{
    font-weight: 400;
    font-size: 80px;
    color: #ffffff;
    position:relative;
    display: block;
  }

  div.categoriados{

    color: rgb(255, 255, 255);
    font-size: 20px;
    position:relative;
    display: block;
    font-weight:500;
  }
  
  
  @media screen and (max-width: 1350px){


    
    div.cuadradodatosblancostratamientos{

      height: 150px;

    }
  }


  


  @media screen and (max-width: 700px) {
    div.nivel{
      font-weight: 400;
      font-size: 50px;
     
    }
    

    div.nivelgluco{
      font-weight: 400;
      font-size: 50px;
     
    }
  
    div.categoria{
  
    
      font-size: 10px;
     
    }

    div.niveldos{
      font-weight: 400;
      font-size: 50px;
      
    }
  
    div.categoriados{
  

      font-size: 10px;
     
    }
  
    div.cuadradodatos{
      height: auto;
      
    }

    div.cuadradodatosdos{
      height: auto;
      
    }

    div.cuadradodatosgluco{
      height: auto;
      
    }

    div.cuadradodatosblancostratamientos{

font-size: 9px;
height: 120px;

    }

    div.ojo{

      font-size: x-small;
    }



    div.niveldetrata{
      font-size: 50px;
    }

    div.niveldetrataam{
        font-size: 50px;
      }

      div.niveldetrataroj{
        font-size: 50px;
      }

    div.niveldetratados{
      font-size: 50px;
    }
    div.niveldetratadosaz{
        font-size: 50px;
      }

    div.niveldetratatres{
      font-size: 50px;
    }
    div.niveldetratatresver{
        font-size: 50px;
      }


    div.ojo{

      color: #cddde700;

    }




  }
  

  @media screen and (max-width: 800px) {
    div.cuadradodatosblancostratamientos{

      font-size: 9px;
      
          }

          div.ojo{

            font-size: x-small;
          }
      
      
      
          div.niveldetrata{
            font-size: 50px;
          }
      
          div.niveldetrataam{
              font-size: 50px;
            }
      
            div.niveldetrataroj{
              font-size: 50px;
            }
      
          div.niveldetratados{
            font-size: 50px;
          }
          div.niveldetratadosaz{
              font-size: 50px;
            }
      
          div.niveldetratatres{
            font-size: 50px;
          }
          div.niveldetratatresver{
              font-size: 50px;
            }
      

  }

  div.recuadrogris{

    height: auto;

    width: 98%;
   
    background: #E2F0F9;
   
    border-radius: 15px;
    padding-bottom: 20px;
    padding: 15px;


    color: #182859;
    font-size: 20px;
    font-weight: 600;
  }


  div.cuadradonoti{

    margin: 0 auto;

    display: flex;
  
    height: auto;

   
    width: 98%;
  
    
    background: #D0DAE1;
    color: #333;
    border-radius: 10px;


    padding: 10px;
    font-size: 15px;
    font-weight: 300;


    border-left-style: solid;
    border-left-width: 10px;
    border-color: #F24726;


  }


  div.cuadradonotidos{

    margin: 0 auto;

    display: flex;
  
    height: auto;

   
    width: 98%;
  
    
    background: #D0DAE1;
    color: #333;
    border-radius: 15px;


    padding: 10px;
    font-size: 15px;
    font-weight: 300;


    border-left-style: solid;
    border-left-width: 10px;
    border-color: #CEE741;


  }

  div.cuadradonotitres{

    margin: 0 auto;

    display: flex;
  
    height: auto;

   
    width: 98%;
  
    
    background: #D0DAE1;
    color: #333;
    border-radius: 15px;


    padding: 10px;
    font-size: 15px;
    font-weight: 300;


    border-left-style: solid;
    border-left-width: 10px;
    border-color: #FAC710;


  }


  div.cuadradonotideabajo{
    margin: 0 auto;

    display: flex;
  
    height: auto;

    
    width: 100%;
    
    
    background: whitesmoke;
    color: #182859;
    border-radius: 15px;


    padding: 10px;
    font-size: 10px;
    font-weight: 400;
  }
 




  /*colores de los bordes de esta cosa de los cuadrados*/



div.recuadro3{

  margin: 0 auto;

  display: flex;
  height: 370px;
  justify-content: center;
  width: 90%;
  text-align: center;
  background: #8FD14F;
  color: #333;
  border-radius: 45px;
  padding-bottom: 20px;
  padding: 9px;
 

}

div.recuadro2{

  margin: 0 auto;

  display: flex;
  height: 370px;
  justify-content: center;
  width: 90%;
  text-align: center;
  background: #0CA789;
  color: #333;
  border-radius: 45px;
  padding-bottom: 20px;
  padding: 9px;
 

}

div.recuadro1{

  margin: 0 auto;

  display: flex;
  height: 370px;
  justify-content: center;
  width: 90%;
  text-align: center;
  background: #2B70BC;
  color: #333;
  border-radius: 45px;
  padding-bottom: 20px;
  padding: 9px;
 

}

div.imagen{
  margin: 0 auto;
  display: flex;
  height: 310px;
  justify-content: center;
  width: 99%;
  text-align: center;
  /*background-image: url(https://pbs.twimg.com/media/FakqV2MUIAAz9zf?format=jpg&name=small) ;*/
  background-color: #FFF;
  color: #333;
  border-radius: 40px;
  padding-bottom: 20px;
  padding: 10px;
}

div.vercosos{

  text-align: right;
  height: 30px;
  width: 90%;
  bottom: 90px;

  color: rgb(255, 255, 255);
  border-radius: 15px;
  transform: translateY(55px);
 font-weight: bold;
  position: relative;
  text-align: right;
  font-size: small;
  padding-right: 15px;
  text-decoration:none;

}


div.texto{
text-align: center;
width: auto;
font-size: smaller;



}

a:link, a:visited, a:active {
  text-decoration:none;
  color: #ffffff;
}


@media screen and (max-width: 600px) {

  div.textoarriba{
    font-size: 10px;
  }
}