body{
    background-color: white;
}

.info{
    display: grid;
    grid-template-areas: "text text text imagen"
                        ". . . imagen";
    height: auto;
    max-width: 100%;
    background-image: linear-gradient(to bottom left, rgb(31, 199, 70), rgb(31, 168, 102), rgb(49, 74, 156))
}

.text{
    max-width: 100%;
    max-height: 40%;
    padding: 1em;
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5vw;
    color: whitesmoke;
    background-color: rebeccapurple;
}

.imagen{
    padding: 1em;
    text-align: center;
    max-width: 100%;
    max-height: 40%;
    background-color: aquamarine;
}

.telefono{
    width: 40%;
    background-color: blue;
}

.but-pacientes{
    height: 1500px;
    width: 100%;
    border-radius:0%, 15%, 15%, 0%;
    background-color: whitesmoke;
    display: grid;
    grid-template-areas: ".info-pacientes-doctores info-pacientes-doctores"
                         "pc1 pc2"
                         "pc3 pc4"
                         "pc5 pc6"
                         "pc7 pc8";
    align-items: center;
}

.info-pacientes-doctores{
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    padding: 1em;
    grid-column-start: span 2;
    border-radius: 0 0 8em 8em;
}

.pc1{
    text-align: center;
    background-color: orangered;
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2vw;
    padding: 1em;
    border-radius: 3em;
}

.pc2{
    text-align: center;
    background-color: rgb(133, 207, 22);
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1vw;
    padding: 1em;
    border-radius: 3em;
}

.pc3{
    text-align: center;
    background-color: rgb(17, 171, 222);
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1vw;
    padding: 1em;
    border-radius: 3em;
}

.pc4{
    text-align: center;
    background-color: rgb(177, 90, 217);
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    padding: 1em;
    border-radius: 3em;
}

.pc5{
    text-align: center;
    background-color: rgb(235, 173, 15);
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    padding: 1em;
    border-radius: 3em;
}

.pc6{
    text-align: center;
    background-color: rgb(9, 155, 9);
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    padding: 1em;
    border-radius: 3em;
}

.pc7{
    text-align: center;
    background-color: rgb(17, 160, 17);
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    padding: 1em;
    border-radius: 3em;
}

.pc8{
    text-align: center;
    background-color: brown;
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    padding: 1em;
    border-radius: 3em;
}

.signin-paciente{
    background-color: aliceblue;
}

.login-paciente{
    background-color: antiquewhite;
}

.but-doctores{
    height: 1200px;
    width: 100%;
    background-color: rgb(102, 125, 232);
    border-radius:0%, 15%, 15%, 0%;
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: space-around;
    align-items: center;
    border-radius: 0 0 8em 8em;
}

.dc1{
    text-align: center;
    background-color: rgb(60, 96, 162);
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    padding: 1em;
    border-radius: 3em;
}

.dc2{
    text-align: center;
    background-color: rgb(253, 219, 0);
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    padding: 1em;
    border-radius: 3em;
}

.dc3{
    text-align: center;
    background-color: rgb(151, 165, 42);
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    padding: 1em;
    border-radius: 3em;
}

.dc4{
    text-align: center;
    background-color: rgb(228, 75, 19);
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    padding: 1em;
    border-radius: 3em;
}

.dc5{
    text-align: center;
    background-color: rgb(134, 42, 165);
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    padding: 1em;
    border-radius: 3em;
}

.dc6{
    text-align: center;
    background-color: rgb(19, 102, 247);
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    padding: 1em;
    border-radius: 3em;
}

.footer{
    display: grid;
    grid-template-columns: 50% 50% ;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
}

.section{
    max-width: 100%;
    max-height: 300px;
    background-color: rgb(40, 77, 133);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2vw;
}    

.no-signe{
    list-style-type: none;
}

.foot:link{
    text-decoration: none;
}

.foot:visited {
    color: white;
    text-decoration: none;  
}

.foot:hover{
    color: white;
}

.footer:active{
    color:white
}